*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vh;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
    width: 100%;
    text-align: center;
}
.top{
    background: #405230;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.top > span {
    font-size: 20px;
    color: #FFFFFF;
}
.top-grid{
    text-align: center;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: #47A72F;
}
.grid-top{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;

}
.grid-top > div > button{
    font-size: 17px;
    background: none;
    border: none;
    color: #FFFFFF;
}
button:hover{
    cursor: pointer;
}
.content-VA{
    background: #E4ECD4;
    padding: 12% 63% 12% 15%;
    box-shadow: 0px 5px 0px #9a9a9a;
}
.growing > h1 {
    color: #000000;
    font-family: serif;
}
.hire{
    margin-top: 8%;
    padding: 0;
    text-align: left;
    margin-left: 2%;
}
.hire > h5 {
    font-weight: 500;
    width: 20em;
    font-size: 1.04em;
}
.content-grid-button{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8%;
    margin-left: 5%;
    padding-left: 0%;
}
.content-grid-button > div > button{
    border-radius: 30px;
    border: none;
    padding: 9%;
    width: 10em;
}
#learn-more {
    background: #47A72F;
    color: #FFFFFF;
    box-shadow: 0px 5px 0px #cbcbcb;
}
#learn-more:hover {
    text-shadow: 0px 1px 0px #cbcbcb;
    box-shadow: 0px 5px 0px #bcbeba;
}
#find-out-more {
    border: 1px solid;
    border-color: #47A72F;
    background: none;
    box-shadow: 0px 5px 0px #d9d9d9;
}
#find-out-more:hover{
    text-shadow: 0px 1px 0px #cbcbcb;
    box-shadow: 0px 5px 0px #bcbeba;
}
.per-hour{
    margin-top: 4%;
    color: #405230;
}
.per-hour-content{
    padding-left: 0%;
}
.per-hour-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0% 0% 0% 2em;
    margin-top: 5%;
}
.per-hour-grid > div {
    box-shadow: 0px 5px 7px 5px #e0e1e0;
    width: 92%;
}
.per-hour-grid > div > img {
    width: 400px;
}
.reduce {
    margin: 0;
    text-align: justify;
    margin-top: 2%;
    padding-left: 2%;
}
.h1{
    font-size: 18px;
}
.reduce > div{
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 4%;
}
.reduce > div > p{
    color: #3D3C3C;
}
.social-content{
    margin-top: 10%;
}
.social-media{
    display: flex;
    gap: 20px;
    padding: 0% 45% 0% 45%;

}
.fa-facebook {
    background: #3B5998;
    color: #FFFFFF;
    padding: 5px;
    font-size: 40px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-instagram{
    background: #d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #FFFFFF;
    padding: 5px;
    font-size: 40px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15%;
}
.fa-linkedin{
    background: #007bb5;
    color: white;
    padding: 5px;
    font-size: 40px;
    width: 58px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.find-out{
    margin-top: 2%;
    margin-left: 7.5%;
}
.find-out > button {
    border: none;
    border-radius: 40px;
    background: #47A72F;
    color: #FFFFFF;
    padding: 1%;
}
.VA-content{
    margin-top: 5%;
    text-align: left;
    padding: 0% 2% 0% 2%;
}
.VA-content > div > h1{
    font-weight: 500;
    color: #405230;
    border-bottom: 2px solid;
    padding-bottom: 1%;
}
.va-assistant{
    margin-top: 1%;
}
.video{
    text-align: center;
    margin-top: 5%;
}
.how-it-works{
    text-align: center;
    margin-top: 7%;
}
.how-it-works > div > h1{
    color: #405230;
}
.how-button{
    margin-top: 3%;
}
.how-button > button {
    padding: 5% 20% 5% 20%;
    width: 100%;
    background: #88c678;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
}
.welcome-content{
    margin-top: 8%;
}
.welcome-text{
    font-weight: 100;
    color: #405230;
    letter-spacing: 1px;
}
.team-content{
    margin-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
}
.team-image-content{
    display: grid;
    grid-template-columns: 50% auto;
}
.team-image{
    width: 100%;
}
.team-text{
    padding-top: 5%;
    padding-left: 3%;
    text-align: justify;
}
.arrow-to-right{
    font-size: 25px;
}
.view-more{
    font-size: 16px;
    background: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
}
.view-more:hover{
    cursor: pointer;
    color: #405230;
    text-shadow: 0px 2px #b8cba9;
}
#more{
    display: none;
}
.fifth-content{
    margin-top: 10%;
}
.choose-content{
    display: grid;
    grid-template-columns: 45% auto;
}
.why-titan{
    padding: 10% 10% 10%;
}
.why{
    color: #405230;
    background: #C8D8B8;
    padding: 37% 45% 37% 15%;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
}
.why-side{
    padding: 0;
}
.side-why-box{
    display: grid;
    grid-template-columns: 50% auto;
}
.side-why-box > div{
    margin-top: 17%;
    text-align: left;
}
.side-why-box > .below-number{
    margin-top: 10%;
    text-align: left;
}
hr{
    margin-top: 2%;
    width: 80%;
    border: 1.5px solid;
    border-color: #AAAAAA;
}
.h2{
    color: #405230;
    font-weight: 500;
    font-size: 22px;
}
.h1-content{
    color: #333333;
    font-size: 22px;
    font-weight: 500;
    margin-top: 3%;
}
.outsource{
    margin-top: 2%;
    color: #797575;
    width: 80%;
    font-size: 17px;
    text-align: justify;
}
.fourth-content {
    margin-top: 10%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.fifth-content > div > h1{
    color: #405230;
    font-weight: 500;
}
.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 50s infinite alternate linear;
  }
 .items img {
    width: 35%;
    border-radius: 50%;
  }
  .entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    background: #fff;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 768px) {
    .items {
      animation: carouselAnim 35s infinite alternate linear;
    }
    
    @keyframes carouselAnim {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(calc(-100% + (2 * 300px)));
      }
    }
  }
  
  .entry p {
    text-align: center;
    padding: 1em;
  }
  
  .name {
    font-weight: bold;
  }
  
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (5 * 300px)));
    }
  }
  
  .container .faders {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  
  .faders .right,
  .faders .left {
    background: linear-gradient(
      to right,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 15%;
    height: 100%;
    position: absolute;
    z-index: 200;
  }
  
  .right {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  /* .prev, .next {
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 5px;
      z-index: 300;
    }
    
    .prev {
      left: 10px;
    }
    
    .next {
      right: 10px;
    }
     */